[submodule "components/format/detail/fmt"]
	path = components/format/detail/fmt
	url = https://github.com/fmtlib/fmt
[submodule "components/serialization/detail/alpaca"]
	path = components/serialization/detail/alpaca
	url = https://github.com/p-ranav/alpaca
[submodule "components/esp_littlefs"]
	path = components/littlefs
	url = https://github.com/joltwallet/esp_littlefs
[submodule "components/lvgl"]
	path = components/lvgl
	url = https://github.com/lvgl/lvgl
[submodule "components/esp-dsp"]
	path = components/esp-dsp
	url = https://github.com/espressif/esp-dsp
[submodule "components/csv/detail/csv2"]
	path = components/csv/detail/csv2
	url = https://github.com/p-ranav/csv2
[submodule "components/cli/detail/cli"]
	path = components/cli/detail/cli
	url = https://github.com/daniele77/cli
[submodule "components/tabulate/detail/tabulate"]
	path = components/tabulate/detail/tabulate
	url = https://github.com/p-ranav/tabulate
[submodule "lib/pybind11"]
	path = lib/pybind11
	url = https://github.com/pybind/pybind11
[submodule "components/state_machine/detail/magic_enum"]
	path = components/state_machine/detail/magic_enum
	url = https://github.com/neargye/magic_enum
[submodule "components/esp-nimble-cpp"]
	path = components/esp-nimble-cpp
	url = https://github.com/esp-cpp/esp-nimble-cpp
[submodule "components/hid-rp/detail/hid-rp"]
	path = components/hid-rp/detail/hid-rp
	url = https://github.com/intergatedcircuits/hid-rp
[submodule "components/gfps_service/detail/nearby"]
	path = components/gfps_service/detail/nearby
	url = https://github.com/google/nearby
[submodule "components/binary-log/detail"]
	path = components/binary-log/detail
	url = https://github.com/finger563/binary_log
