menu "Display Drivers Example Configuration"

    choice
        prompt "Hardware Configuration"
        default HARDWARE_WROVER_KIT
        help
            Select the dev-kit / hardware you're using.
        config HARDWARE_WROVER_KIT
            bool "ESP32 WROVER KIT V4"
        config HARDWARE_TTGO
            bool "TTGO T-DISPLAY"
        config HARDWARE_BOX
            bool "ESP BOX"
        config SMARTKNOB_HA
            bool "SMARTKNOB-HA"
        config T_ENCODER_PRO
            bool "T-ENCODER-PRO"
        config HARDWARE_BYTE90
            bool "ALXV Labs Byte90"
    endchoice

    config DISPLAY_QUAD_SPI
        bool "Quad SPI"
        default y if T_ENCODER_PRO
        help
            Use a Quad SPI bus for the display

endmenu
