menu "Esp-Box Configuration"
    config ESP_BOX_INTERRUPT_STACK_SIZE
        int "Interrupt stack size"
        default 4096
        help
            Size of the stack used for the interrupt handler. Used by the touch
            callback.
endmenu
