menu "GFPS Configuration"
    config GFPS_MODEL_ID
        hex "GFPS Model ID"
        default 0x0
        help
            Set the model id (24 bit) used for Google Fast Pair Service (GFPS)

    config GFPS_ANTISPOOFING_PRIVATE_KEY
        string "GFPS Anti-Spoofing Private Key"
        default ""
        help
            Set the GFPS anti-spoofing private key, as a base64 uncompressed string.

    config GFPS_TRACE_LEVEL
        int "GFPS Trace Level"
        default 6
        range 1 6
        help
            Set the trace level for GFPS. 1 is VERBOSE, 2 is DEBUG, 3 is INFO, 4
            is WARNING, 5 is ERROR, 6 is OFF.

    config NEARBY_FP_APP_CONTROL_SUB_PAIR_FLOW
        bool "Enable app-level control of GFPS Subsequent Pairing flow"
        default n
        help
            If enabled, the application takes control of the Subsequent Pairing flow.
            The GFPS library will no longer automatically start NDA advertisement or 
            handle SubPairing connection behavior, allowing full application control.

endmenu
