# ESP32-specific
CONFIG_IDF_TARGET="esp32s3"

# set cpu speed to 240MHz
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ=240

# FreeRTOS tick rate to 1000Hz
CONFIG_FREERTOS_HZ=1000

# set the main task stack size to 8k
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192

# Flash size
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"

CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000
CONFIG_PARTITION_TABLE_MD5=y

# littlefs settings
CONFIG_LITTLEFS_FLUSH_FILE_EVERY_WRITE=y
CONFIG_LITTLEFS_MMAP_PARTITION=y

# Default settings
CONFIG_REMOTE_DEBUG_DEVICE_NAME="Remote Debug Example"
CONFIG_REMOTE_DEBUG_NUM_GPIOS=2
CONFIG_REMOTE_DEBUG_GPIO_0=17
CONFIG_REMOTE_DEBUG_GPIO_0_LABEL="LED"
CONFIG_REMOTE_DEBUG_GPIO_1=18
CONFIG_REMOTE_DEBUG_GPIO_1_LABEL="Button"
CONFIG_REMOTE_DEBUG_NUM_ADCS=2
CONFIG_REMOTE_DEBUG_ADC_0=7
CONFIG_REMOTE_DEBUG_ADC_0_LABEL="Joy LX"
CONFIG_REMOTE_DEBUG_ADC_1=8
CONFIG_REMOTE_DEBUG_ADC_1_LABEL="Joy LY"
