menu "LSM6DSO Example Configuration"
    depends on ESPP_LSM6DSO_ENABLE

config EXAMPLE_LSM6DSO_I2C_PORT
    int "I2C port number"
    default 0
    help
        I2C port number to use for the LSM6DSO example.

config EXAMPLE_LSM6DSO_I2C_SDA_GPIO
    int "I2C SDA GPIO number"
    default 21
    help
        GPIO number for I2C SDA line for the LSM6DSO example.

config EXAMPLE_LSM6DSO_I2C_SCL_GPIO
    int "I2C SCL GPIO number"
    default 22
    help
        GPIO number for I2C SCL line for the LSM6DSO example.

config EXAMPLE_LSM6DSO_I2C_CLOCK_SPEED_HZ
    int "I2C clock speed (Hz)"
    default 400000
    help
        I2C clock speed in Hz for the LSM6DSO example.

endmenu
