name: Build

on:
  pull_request:
    branches: [main]
    paths:
      - 'components/**'
      - 'external/**'
      - '.github/workflows/build.yml'

jobs:
  build:

    runs-on: ubuntu-latest
    continue-on-error: true

    strategy:
      matrix:
        test:
        - path: 'components/adc/example'
          target: esp32
        - path: 'components/ads1x15/example'
          target: esp32
        - path: 'components/ads7138/example'
          target: esp32s3
        - path: 'components/as5600/example'
          target: esp32s3
        - path: 'components/aw9523/example'
          target: esp32
        - path: 'components/bldc_haptics/example'
          target: esp32s3
        - path: 'components/bldc_motor/example'
          target: esp32s3
        - path: 'components/ble_gatt_server/example'
          target: esp32s3
        - path: 'components/bm8563/example'
          target: esp32
        - path: 'components/button/example'
          target: esp32
        - path: 'components/chsc6x/example'
          target: esp32s3
        - path: 'components/cli/example'
          target: esp32
        - path: 'components/color/example'
          target: esp32
        - path: 'components/controller/example'
          target: esp32s3
        - path: 'components/cst816/example'
          target: esp32s3
        - path: 'components/csv/example'
          target: esp32
        - path: 'components/display_drivers/example'
          target: esp32
        - path: 'components/drv2605/example'
          target: esp32
        - path: 'components/encoder/example'
          target: esp32
        - path: 'components/esp32-timer-cam/example'
          target: esp32
        - path: 'components/esp-box/example'
          target: esp32s3
        - path: 'components/event_manager/example'
          target: esp32
        - path: 'components/file_system/example'
          target: esp32
        - path: 'components/filters/example'
          target: esp32
        - path: 'components/ftp/example'
          target: esp32
        - path: 'components/ft5x06/example'
          target: esp32s3
        - path: 'components/gfps_service/example'
          target: esp32s3
        - path: 'components/gt911/example'
          target: esp32s3
        - path: 'components/hid-rp/example'
          target: esp32s3
        - path: 'components/hid_service/example'
          target: esp32s3
        - path: 'components/i2c/example'
          target: esp32
        - path: 'components/interrupt/example'
          target: esp32s3
        - path: 'components/joystick/example'
          target: esp32
        - path: 'components/kts1622/example'
          target: esp32
        - path: 'components/led/example'
          target: esp32
        - path: 'components/led_strip/example'
          target: esp32
        - path: 'components/logger/example'
          target: esp32
        - path: 'components/math/example'
          target: esp32
        - path: 'components/matouch-rotary-display/example'
          target: esp32s3
        - path: 'components/max1704x/example'
          target: esp32
        - path: 'components/monitor/example'
          target: esp32
        - path: 'components/motorgo-mini/example'
          target: esp32s3
        - path: 'components/mcp23x17/example'
          target: esp32s3
        - path: 'components/mt6701/example'
          target: esp32s3
        - path: 'components/nvs/example'
          target: esp32s3
        - path: 'components/pid/example'
          target: esp32
        - path: 'components/qwiicnes/example'
          target: esp32
        - path: 'components/rmt/example'
          target: esp32s3
        - path: 'components/rtsp/example'
          target: esp32
        - path: 'components/seeed-studio-round-display/example'
          target: esp32s3
        - path: 'components/serialization/example'
          target: esp32
        - path: 'components/socket/example'
          target: esp32
        - path: 'components/st25dv/example'
          target: esp32s3
        - path: 'components/state_machine/example'
          target: esp32
        - path: 'components/t-deck/example'
          target: esp32s3
        - path: 'components/t-dongle-s3/example'
          target: esp32s3
        - path: 'components/t_keyboard/example'
          target: esp32s3
        - path: 'components/tabulate/example'
          target: esp32
        - path: 'components/task/example'
          target: esp32
        - path: 'components/thermistor/example'
          target: esp32
        - path: 'components/timer/example'
          target: esp32
        - path: 'components/tla2528/example'
          target: esp32
        - path: 'components/tt21100/example'
          target: esp32s3
        - path: 'components/wifi/example'
          target: esp32
        - path: 'components/wrover-kit/example'
          target: esp32

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
      with:
        submodules: 'recursive'

    - name: Build Examples
      uses: espressif/esp-idf-ci-action@v1
      with:
        esp_idf_version: release-v5.2
        target: ${{ matrix.test.target }}
        path: ${{ matrix.test.path }}
